@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body, main {
    width: 100%;
    height: 100%;
}

body {
    font-family: Inter, system-ui;
    background: url(./background.png) 4% 0 / 100% 109% no-repeat fixed;
    color: #fff;
}

nav {
    background: #fff2;
    backdrop-filter: blur(5px) brightness(0.8);
    box-shadow: 0 0 5px 0 #fff8;
    height: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

nav > * {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5px;
}

nav > .logo {
    user-select: none;
}

nav > .logo > img {
    width: 47px;
    height: 47px;
}

a {
    color: #1e90ff;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.320, 1);
}

html.navbarblack nav a.al {
    background-image: linear-gradient(90deg, #3f6489, #1a497b);
}

a.al {
    color: #0000;
    background: linear-gradient(90deg, #517ca7, #71a0d2);
    background-clip: text;
    background-size: 400%;
    font-weight: 500;
}

a.al:hover {
    background-size: 300%;
    background-position: 100% -10%;
    filter: drop-shadow(2px 4px 6px #1e90ff66);
}

#home {
    height: calc(100% - 50px);
    display: grid;
    gap: 2px;
    place-content: center;
    text-align: center;
    backdrop-filter: blur(8px) brightness(0.7);
    margin-top: 50px;
}

#home > * {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#home > h1 {
    user-select: none;
    padding: 6px 11px;
    font-size: 1.7em;
    background: #fff1;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0.5px 5px 0 #0001;
    text-shadow: 0 0 5px #a1a12c, 0 0.5px 5px #782888;
    width: fit-content;
    margin: 2px auto;
}

html.scrolled #home > * {
    translate: 0 calc(var(--scrolltop) / 2);
    filter: blur(5px);
    pointer-events: none;
}

#home > .ip {
    border-radius: 5px;
    background: #fff1;
    backdrop-filter: blur(5px);
    width: fit-content;
    margin: 8px auto;
    padding: 4px 9px 4px 0;
    box-shadow: 0 0 5px 0 #fff1;
    display: flex;
    align-items: center;
    gap: 9px;
    height: 30px;
}

#home > .ip > .icon {
    background: #67dc67aa;
    box-shadow: 0 0 5px 0 #67dc67aa;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    border-radius: 5px 0 0 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#home > .ip > .icon:hover {
    background: #8bf28baa;
}

#home > .ip > .icon:active {
    background: #4ea64eaa;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.25px;
    text-shadow: 0 1px 7px #0002;
}

:is(h1, h2, h3, h4, h5, h6) + p {
    text-shadow: 0 1px 9px #00000005;
}

#zespol {
    background: #efefefbb;
    box-shadow: inset 0px 4px 5px -1px #0003;
    padding: 1.5% 0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(5px);
}

.people {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    justify-content: center;
    gap: 7px;
    background: #0002;
    box-shadow: 0 0 5px 0 #0003;
    backdrop-filter: blur(5px);
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    list-style: none;
}

.people > .guy {
    border-radius: 8px;
    background: #fff3;
    box-shadow: 0 0 5px 0 #0002;
    padding: 5px;
    text-shadow: 0 1px 7px #0005;
}

.people > .guy > img {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 #0003;
}

img {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

#tryby, #moderated {
    background: #fff2;
    backdrop-filter: blur(9px);
    display: grid;
    place-items: center;
    padding: 2% 0;
}

#tryby {
    box-shadow: inset 0 0 5px #fff1;
}

#moderated {
    background: #fff3;
}

/* Bakground Element Unordered List lmfao nazwa dluga asf */
.bgeul {
    list-style: none;
    margin: 6px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    padding: 8px;
    background: #fff3;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 #0003;
    backdrop-filter: blur(5px);
    max-width: calc(calc(8px * 2) + calc((200px + 7px) * 5) - 7px);
}

.bgeul > .elem {
    width: 200px;
    height: 105px;
    border-radius: 8px;
    background: #fff3;
    box-shadow: 0 0 5px 0 #0002;
    padding: 3px;
    font-size: 15px;
    display: grid;
    place-items: flex-end center;
    gap: 7px;
    position: relative;
}

.bgeul > .elem::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: #0008;
    box-shadow: 0 0 5px 0 #0008;
    backdrop-filter: blur(3px);
    border-radius: 0 0 8px 8px;
}

.bgeul > .elem > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px #0002;
    position: absolute;
}

.bgeul > .elem > :not(img) {
    z-index: 2;
    position: relative;
}

footer {
    background: #fff8;
    box-shadow: 0 0 5px #fff8;
    backdrop-filter: blur(5px);
    display: flex;
    height: 150px;
}

footer > * {
    padding: 16px 27px;
    display: grid;
    align-content: baseline;
}

footer a {
    color: #2865a1;
}

footer a:hover {
    color: #4379af;
}

button, input, select, textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    color: inherit;
    background: none;
    box-shadow: none;
}
